body, input {
    background-color: #828d82;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.container {
    width: 840px;
    margin: auto;
    padding: 2.5% 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    color: #56565cee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-align: center;
    margin-bottom: 0.65em;
}

h2 {
    color: #56565cee;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 0.85em;
}

p {
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-bottom: 3%;
}

#schedule, #search {
    margin-bottom: 2.5em;
}

.leftPane {
    float: left;
    width: 48%;
}

.rightPane {
    float: right;
    width: 48%;
}

table {
    width: 100%;
}

tbody tr:hover {
    background-color: #83bcee;
    color: #f9f6e3;
}

tr:nth-child(even) {
    background-color: #f9f6e3;
}

tr:nth-child(odd) {
    background-color: #78b6ed;
}

th {
    background-color: #3374ac;
    color: #f9f6e3;
    width: 18%;
    padding: 2%, 1%;
    border-right: 1px solid #f9f6e3;
    border-bottom: 2px solid #f9f6e3;
}

th:last-child {
    border-right: none;
}

td {
    font-size: 0.9em;
    width: 18px;
    padding: 1.25% 1%;
    border-right: 1px solid #f9f6e3;
}

td:last-child {
    border-right: none;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    background-color: white;
    display: block;
    width: 94%;
    padding: 2% 3%;
    margin-bottom: 1em;
}

#button_add, #button_delete, #button_edit {
    background-color: #78b6ed;
    color: #f9f6e3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.15em;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 3%;
    border: 4px solid #3c77ac;
    padding: 2% 5%;
}

#button_add {
    float: right;
}

#button_delete {
    display: none;
    float: right;
}

#button_edit {
    display: none;
    float: right;
    margin-left: 4%;
}

@media all and (max-width: 860px), all and (max-device-width: 860px) {
    body {
        font-size: 18px;
        font-size: 2.09vw;
    }

    .container {
        width: 95%;
    }
}

@media all and (max-width: 640px), all and (max-device-width: 640px) {
    body {
        font-size: 18px;
        font-size: 2.81vw;
    }

    .container {
        width: 95%;
    }

    .leftPane {
        float: none;
        width: 99%;
    }

    .rightPane {
        float: none;
        width: 99%;
    }

    input {
        font-size: 1em;
    }
}















